<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Inserted </h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_bid}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Under Estimation </h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_Under_Estimation}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Failed To Submit </h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_Failed_To_Submit}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">WIN</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_WIN}}</h3>
			  	</div>
			</div>
		</div>
	</div>


</div>

